/* body{
    transform:scale(1.5);
    background-color: lightseagreen;
    color:royalblue
}

h1{
    text-align: center;
    vertical-align: auto;
}
ul{
    text-align:center;
}
form{
    text-align: center;
    vertical-align: auto;
}
.strikethrough {
    text-decoration: line-through;
}

button {
    size: 20px;
} */
body {
  margin: 0;
  min-width: 250px;
  background-color: rgb(143, 183, 183);
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}
.strikethrough {
  text-decoration: line-through;
}
/* Remove margins and padding from the list */
ol {
  position: absolute;
}

/* Style the list items */
ol li {
  cursor: pointer;
  background: #eae0e0;
  font-size: 20px;
  
}
input[type="checkbox"] {
  position: absolute;
  float: right;
}

/* Set all odd list items to a different color (zebra-stripes) */
ol li:nth-child(odd) {
  background: #f9f9f9;
}

/* Style the close button */
.delete {
  position: absolute;
  float: right;
  font-size: 15px;
}

.delete:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #ee5348;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Style the input */
input {
  margin: 0;
  border: #2a2929;
  border-radius: 15px;
  width: 85%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 15%;
  background: #b6aaaa;
  color: #4a3a3a;
  float: left;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px;
  border-color: dimgray;
  border-width: 1.5px;
  font-family: sans-serif;
}

.addBtn:hover {
  background-color: #19c9a0;
}

label {
  font-family: sans-serif;
  font-size: 20px;
  color: #3e3c3c;
  font-weight: bold;
}
